{% extends "base.html" %}
{% block content %}

    <div class="row">
    <div id="quote_display" class="col-md-4">
      <h3>Connect:</h3>
      <em>marinicita [at] gmail.com</em>
    </div>
    <div id="contact large" class="col-md-8">
      <h1>About Me</h1>
      <p class="lead">
        Maria is based in Guatemala City as a UI designer by day and a freelance illustrator and character designer whenever-she-can. She studied under the direction of Thierry Lafontaine at the Imaginism In-House Workshop and with Chris Oatley from The Oatley Academy of Visual Storytelling.
      </p>
      <p>
        Her first contact with the arts was at 3 years old when her father taught her to read with poetry. Still 3, she also started acting and has never left the stage since. This continued relation with the stage is what cultivated her love for storytelling and characters, coulpled with her love for reading and learning languages.
      </p>
      <p>
        She has worked for Red Atoms doing character design and is currently a team member of The Oatley Academy of Visual Storytelling.
      </p>
      <p>
        Brimming with energy and enthusiasm, she firmly believes in the power of hugs, a smile, and chocolate to make anyone's day brighter.
      </p>
      <p>
        Contact her at: marinicita [at] gmail and on Twitter: <a href="https://twitter.com/mariapaizart">@mariapaizart</a>
      </p>
    </div>
  </div>

{% endblock %}
